<!DOCTYPE html>
<html>
<head>
    <title>Notification System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main_style.css') }}">
</head>

<body>

<div class="dashboard-container">
    <!-- SIDEBAR (static) -->
    <nav class="sidebar">
        <h2>Contents</h2>
        <ul>
            <li><a href="/dashboard">Dashboard</a></li>
            <!-- <li><a href="/hod">HOD</a></li> -->
            <li><a href="/faculty">Faculty</a></li>
            <li><a href="/templates">Templates</a></li>
            <li><a href="/history">History</a></li>
            <li><a href="/setting">Settings</a></li>
        </ul>
    </nav>
    <!-- <div class="user-info">
        <div class="profile-card">
            <div class="profile-icon">
                👤
            </div>
            <div class="profile-text">
                <h3>Profile</h3>
                <b>{{ dept_name }}</b>
                <br>
                <b>ID: {{ dept_id }}</b>
                <br>
                <b>HOD: {{ hod_name }}</b>
            </div>
        </div>
    </div> -->
    <!-- RIGHT SIDE -->
    <main class="main-content">
        <!-- HEADER (static) -->
        <header>
            <div class="logo">
                <img src="{{ url_for('static', filename='JNTUH_logo.png') }}">
                <h1>JNTUH FACULTY SMS NOTIFICATION SYSTEM</h1>
            </div>
        </header>
        <!-- CHANGING CONTENT -->
        <section class="content-area">
            {% block content %}
            {% endblock %}
        </section>
    </main>
</div>
<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>