<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="login-body">
    <div class="log-box">
        <div class="log-header">
            <img src="{{ url_for('static', filename='JNTUH_logo.png') }}" alt="Logo">
            <h2>Login details</h2>
        </div>

        <label>Department</label>
        <input type="text" id="dept" name="dept" placeholder="Enter Id number">

        <label>Phone number</label>
        <input type="text" id="phno2" name="phno2" placeholder="Enter phone number">

        <label>Password</label>

        <div class="password-box">
            <input type="password" id="password" name="password" placeholder="Enter password" onkeyup="checkPassword()">
            <span onclick="togglePassword()" class="show-btn">Show</span>
        </div>
        <button onclick="loginUser()">Login</button>
    </div>

<script src="{{ url_for('static', filename='script.js') }}"></script>
    
</body>
</html>