
.title {
    text-align: center;
}
.logo {
   position: absolute;
   left: 170px;
}

.logo img {
    height: 88px;
}

.fakeimg {
height: 200px;
background: #aaa;
}

.register-btn{
   background-color: #dd3e22;
   color: rgb(231, 227, 227);
   padding: 8px 16px;
   border-radius: 6px;
   text-decoration: none;
   font-weight: bold;
   transition: 0.3s;
}

.register-btn:hover{
   background-color: #ffaa00;
}





